*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Inter',sans-serif;

background:#6e8f21;

color:#FFFFFF;

overflow-x:hidden;

}

h1,h2,h3{

font-family:'Poppins',sans-serif;

}

a{

text-decoration:none;

color:white;

}

.background-blur{

position:fixed;

border-radius:50%;

filter:blur(140px);

z-index:-1;

}

.blur1{

width:500px;

height:500px;

background:#555c2a;

top:-120px;

left:-120px;

}

.blur2{

width:450px;

height:450px;

background:#BAC095;

bottom:-150px;

right:-120px;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 10%;

position:fixed;

width:100%;

top:0;

backdrop-filter:blur(20px);

background:rgba(17,20,10,.65);

z-index:100;

}

.logo{

font-size:30px;

font-weight:800;

letter-spacing:3px;

}

.navbar ul{

display:flex;

gap:45px;

list-style:none;

}

.navbar a{

transition:.3s;

}

.navbar a:hover{

color:#D4DE95;

}

.hire-btn{

padding:14px 30px;

border-radius:40px;

background:linear-gradient(135deg,#636B2F,#BAC095);

font-weight:600;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:170px 10% 100px;

min-height:100vh;

}

.hero-left{

max-width:620px;

}

.tag{

display:inline-block;

padding:10px 20px;

border-radius:40px;

background:rgba(255,255,255,.08);

margin-bottom:25px;

}

.hero h1{

font-size:72px;

line-height:80px;

margin-bottom:25px;

}

.hero p{

font-size:20px;

line-height:34px;

opacity:.8;

margin-bottom:45px;

}

.buttons{

display:flex;

gap:20px;

margin-bottom:55px;

}

.primary-btn{

background:linear-gradient(135deg,#636B2F,#BAC095);

padding:18px 36px;

border-radius:50px;

font-weight:700;

border:1px solid rgba(119, 255, 0, 0.836);

}

.secondary-btn{

padding:18px 36px;

border:1px solid rgba(212,222,149,.35);

border-radius:50px;

}

.stats{

display:flex;

gap:60px;

}

.stats h2{

font-size:38px;

}

.stats p{

margin-top:8px;

font-size:15px;

}

.hero-right{

display:flex;

gap:30px;

align-items:center;

}

.phone{

width:230px;

height:470px;

background:#111111;

border-radius:42px;

padding:10px;

box-shadow:0 40px 70px rgba(0,0,0,.45);

transition:.4s;

overflow:hidden;

}

.phone:hover{

transform:translateY(-15px) scale(1.03);

}

.phone video{

width:100%;

height:100%;

object-fit:cover;

border-radius:34px;

}

.phone-two{

margin-top:100px;

}

.phone-three{

margin-top:40px;

}

.about{

padding:120px 10%;

}

.glass-card{

max-width:850px;

margin:auto;

padding:70px;

border-radius:30px;

background:rgba(212,222,149,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(212,222,149,.15);
}

.glass-card h2{

font-size:42px;

margin-bottom:25px;

}

.glass-card p{

font-size:20px;

line-height:38px;

opacity:.9;

}

.section-title{

text-align:center;

font-size:52px;

margin-bottom:70px;

}

.brands{

padding:120px 10%;

overflow:hidden;

}

.brand-slider{

overflow:hidden;

position:relative;

}

.brand-track{

display:flex;

gap:80px;

width:max-content;

animation:scrollBrands 25s linear infinite;

}

.brand-track span{

font-size:36px;

font-weight:700;

opacity:.35;

transition:.3s;

}

.brand-track span:hover{

opacity:1;

color:#D4DE95;

}

@keyframes scrollBrands{

0%{

transform:translateX(0);

}

100%{

transform:translateX(-50%);

}

}

.services{

padding:120px 10%;

}

.service-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}

.service-card{

background:rgba(186,192,149,.08);

padding:45px;

border-radius:25px;

border:1px solid rgba(212,222,149,.15);

transition:.4s;

backdrop-filter:blur(15px);

border:1px solid rgba(119, 255, 0, 0.836);

}

.service-card:hover{

transform:translateY(-15px);

background:linear-gradient(145deg,#636B2F,#BAC095);

}

.service-card h3{

font-size:30px;

margin-bottom:18px;

}

.service-card p{

line-height:30px;

opacity:.9;

}

.portfolio{

padding:120px 10%;

}

.portfolio-buttons{

display:flex;

justify-content:center;

gap:18px;

margin-bottom:60px;

flex-wrap:wrap;

}

.filter{

padding:15px 32px;

background:#636B2F;

border:none;

border-radius:50px;

color:white;

cursor:pointer;

font-size:16px;

transition:.3s;

border:1px solid rgba(119, 255, 0, 0.836);

}

.filter:hover,
.filter.active{

background:linear-gradient(135deg,#636B2F,#BAC095);

}

.portfolio-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:40px;

}

.portfolio-card{

background:rgba(186,192,149,.08);

padding:18px;

border-radius:25px;

transition:.4s;

overflow:hidden;

}

.portfolio-card:hover{

transform:translateY(-12px);

}

.portfolio-card video{

width:100%;

border-radius:18px;

margin-bottom:18px;

transition:.5s;

}

.portfolio-card h3{

text-align:center;

}

.portfolio-card:hover video{

transform:scale(1.06);

}

.numbers{

padding:140px 10%;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

text-align:center;

gap:50px;

}

.number{

background:rgba(186,192,149,.08);

padding:50px;

border-radius:30px;

border:1px solid rgba(212,222,149,.15);

transition:.4s;

border:1px solid rgba(119, 255, 0, 0.836);

}

.number:hover{

transform:scale(1.05);

}

.number h2{

font-size:60px;

background:linear-gradient(
    135deg,
    #b2c91c,
    #d3d4cb
);

background-clip:text;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

margin-bottom:15px;

}

.number p{

font-size:18px;

opacity:.8;

}

.hidden{

opacity:0;

transform:translateY(60px);

transition:all .8s ease;

}

.show{

opacity:1;

transform:translateY(0);

}

.brand-logo {

    width: 160px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

}


.brand-logo img {

    width: 400px;
    height: 105px;

    object-fit: contain;

}

.service-card:hover,
.portfolio-card:hover,
.number:hover{

box-shadow:

0 0 35px rgba(0, 0, 0, 0.35);

}

section{

padding:140px 10%;

}

video{

display:block;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#021a02;

}

::-webkit-scrollbar-thumb{

background:#636B2F;

border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

background:#BAC095;

}

/*============================
FOOTER
============================*/

footer{

    background:rgba(17,20,10,.65);;

    padding:80px 10% 40px;

    text-align:center;

    border-top:1px solid rgba(255,255,255,.08);

}

footer h3{

    font-size:34px;

    margin-bottom:15px;

    font-weight:700;

}

.footer-text{

    color:#ffffff;

    font-size:18px;

    margin-bottom:35px;

}

.footer-socials{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:30px;

    margin-bottom:35px;

}

.footer-socials a{

    width:60px;

    height:60px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(17,20,10,.65);

    border:1px solid rgba(119, 255, 0, 0.836);

    border-radius:50%;

    font-size:24px;

    transition:.35s;

}

.footer-socials a:hover{

    background:linear-gradient(135deg,#636B2F,#BAC095);

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(99,107,47,.35);


}

.copyright{

    color:#ffffff;

    font-size:15px;

    margin-top:20px;

}

footer::before{

    content:"";

    display:block;

    width:100px;

    height:4px;

    margin:0 auto 40px;

    border-radius:50px;

    background:linear-gradient(90deg,#636B2F,#BAC095);

}

/* =========================
PROFILE IMAGE
========================= */


/* Right side container */

.hero-right {

    display: flex;

    justify-content: center;

    align-items: flex-start;

    transform: translateX(100px) translateY(-150px);

    flex: 1;

}
.hero-right img {

    width:650px;

}



/* Profile card container */

.profile-card {

    height: auto;

    display: flex;

    justify-content: center;

    align-items: center;

}



/* Profile image */

.profile-card img {

    width: 650px;

    max-width: 120%;

    height: auto;

    object-fit: contain;

    transition: transform 0.35s ease,
                filter 0.35s ease;

}


/* Hover effect */

.profile-card img:hover {

    transform: scale(1.08);

    filter: drop-shadow(
        0 15px 30px rgba(0,0,0,0.25)
    );

}

/* =========================
MOBILE RESPONSIVENESS
========================= */


@media (max-width: 900px){


/* NAVBAR */

.navbar{

    padding:25px 5%;

}


.navbar ul{

    gap:20px;

}


/* HERO */

.hero{

    flex-direction:column;

    text-align:center;

    padding:150px 5% 80px;

}


.hero-left{

    max-width:100%;

}


.hero h1{

    font-size:48px;

    line-height:55px;

}


.hero p{

    font-size:17px;

    line-height:28px;

}


.buttons{

    justify-content:center;

}


/* PROFILE IMAGE */

.hero-right{

    transform:translateY(0);

    margin-top:50px;

}


.hero-right img,
.profile-card img{

    width:400px;

    max-width:90vw;

}


/* STATS */

.stats{

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}


/* ABOUT */

.glass-card{

    padding:40px 25px;

}


.glass-card h2{

    font-size:34px;

}


.glass-card p{

    font-size:17px;

    line-height:30px;

}


/* SECTION TITLES */

.section-title{

    font-size:38px;

}



/* SERVICES */

.service-grid{

    grid-template-columns:1fr;

}


/* PORTFOLIO */

.portfolio-grid{

    grid-template-columns:1fr;

}



/* NUMBERS */

.numbers{

    grid-template-columns:1fr;

}


.number h2{

    font-size:50px;

}



/* BRANDS */

.brand-track{

    gap:40px;

}


.brand-logo{

    width:120px;

    height:60px;

}


.brand-logo img{

    width:100px;

    height:40px;

}



}